doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style

  body
    block content

    script(src="https://unpkg.com/vue")
    block script
