extends lib/layout

block content
  #app
    .container
      .row
        .h2.title(v-text='title')
      .row
        .col-sm-4
          .input-group
            span.input-group-addon(id='basic-addon1') @
            input.form-control(v-model='username' placeholder="여기를 수정해보세요")
        .col-sm-4  
          .input-group
            span.input-group-addon(id='basic-addon1') @
            input.form-control(v-model='password' type='password' placeholder="*********")
        .col-sm-4
            button.btn.btn-primary(v-on:click="login") 로그인

block script
  script(src='/javascripts/index.js')